<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>

    <!-- properties -->
    <include resource="logging/woo-logback-properties.xml"/>

    <!-- appender -->
    <include resource="logging/woo-logback-default-console-appender.xml"/>

    <!-- logger -->
    <logger name="com.woo" level="DEBUG"/>

    <!-- root -->
    <root level="INFO">
        <appender-ref ref="DEFAULT_CONSOLE"/>
    </root>
</configuration>
